@import "../capRoomster.scss";

.navbar {
    background-color: $caproomster-grey;
    margin-bottom: 0px !important;
    span, a{
        color: $caproomster-white;
    }
    .logo {
        font-family: $caproomster-logo-font;
        font-size: 26px;
    }
}

