/*div#month .col-md-2, div#month .col-md-12
{
  border: 1px solid #818181;
}*/
html, body {
    background: rgba(219,219,219,1);
    background: -moz-linear-gradient(left, rgba(219,219,219,1) 0%, rgba(212,212,212,1) 50%, rgba(204,204,204,1) 51%, rgba(247,247,247,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(219,219,219,1)), color-stop(50%, rgba(212,212,212,1)), color-stop(51%, rgba(204,204,204,1)), color-stop(100%, rgba(247,247,247,1)));
    background: -webkit-linear-gradient(left, rgba(219,219,219,1) 0%, rgba(212,212,212,1) 50%, rgba(204,204,204,1) 51%, rgba(247,247,247,1) 100%);
    background: -o-linear-gradient(left, rgba(219,219,219,1) 0%, rgba(212,212,212,1) 50%, rgba(204,204,204,1) 51%, rgba(247,247,247,1) 100%);
    background: -ms-linear-gradient(left, rgba(219,219,219,1) 0%, rgba(212,212,212,1) 50%, rgba(204,204,204,1) 51%, rgba(247,247,247,1) 100%);
    background: linear-gradient(to right, rgba(219,219,219,1) 0%, rgba(212,212,212,1) 50%, rgba(204,204,204,1) 51%, rgba(247,247,247,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#f7f7f7', GradientType=1 );
    color: #FFFFFF;
}
.container-fluid {
    color: #333333;
}
.page-header {
    border-bottom-color: #ddd;
    color: #FFFFFF;
}
#month>.col-md-12 {
    border-bottom: 1px solid #ddd;
    padding: 5%;
    border-top: 1px solid #ddd;
}
.divider {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.divider-spec {
    border-bottom: 1px solid #ddd;
    padding-top: 1.5%;
}
.divider-countDown {
    border-bottom: 1px solid #ddd;
    color: #2f33a8;
    font-weight: bolder;
    padding-top: 1.5%;
}
.panel-body {
    padding: 0px;
}
#month>.col-md-2 {
    padding: 2% 1% 2% 1%;
    transition: background 1s, color 0.75s;
}
#rider>.Greenies {
    background: #FFFFFF;
    color: #333333;
}
#month .col-md-1{
  background: #FFFFFF;
  color: #333333;
  transition: background 1s, color 0.75s;
}
#textcolorcorrector {
    color: #FFFFFF;
}
#linksending>.col-md-6 {
    padding: 1% 0.5% 1% 0.5%;
}
.topleft{
  border-top-left-radius: 5px;
}
.topright{
  border-top-right-radius: 5px;
}
.bottomleft{
  border-bottom-left-radius: 5px;
}
.bottomright{
  border-bottom-right-radius: 5px;
}
.demo {
    width:1000px;
    height:100px;
    border:1px solid #C0C0C0;
    border-collapse:collapse;
    padding:5px;
}
.demo th {
    border:1px solid #C0C0C0;
    padding:5px;
    background: #C0C0C0;

}
.demo td {
    border:1px solid #C0C0C0;
    padding:5px;
}