$caproomster-grey: #1b1f23;
$caproomster-white: #fff;

html, body, .body-container, .main{
    width: 100%;
    height: 100%;
}

p, h1, h2, h3 {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

