<div class="container-fluid home-page" ng-if="vm.authenticated">
    <!-- Main view -->
    <div class="row home-page-upper">
        <!-- Toggle Room Select Menu -->
        <div class="room-list">
            <p ng-click="vm.toggleMenu()">
              {{ vm.toggleText }}
              <i class="fa fa-arrow-down" aria-hidden="true"></i>
            </p>
            <div class="room-list-number" ng-if="vm.isToggled">
                <button
                type="button"
                class="btn"
                ng-repeat="room in vm.roomList"
                ng-click="vm.changeRoom(room); vm.toggleMenu()"
                ng-class="{'selected-room': vm.roomNumber == room}">
                  Room {{ room }}
                </button>
            </div>
        </div>
        <!-- End Toggle Room Select Menu -->
        <!-- Calendar View -->
        <div class="calendar-view">
          <!-- View Select Button Group 1-->
          <div class="col-md-5">
            <h2 style="padding: 5px;">Room {{ vm.roomNumber }} - {{ vm.calendarTitle }}</h2>
          </div>
          <div class="col-md-3 col-md-offset-2 calendar-buttons">
            <div class="btn-group">
              <button
                class="btn btn-primary"
                mwl-date-modifier
                date="vm.viewDate"
                decrement="vm.calendarView"
                ng-click="vm.cellIsOpen = false">
                Previous
              </button>
              <button
                class="btn btn-default"
                mwl-date-modifier
                date="vm.viewDate"
                set-to-today
                ng-click="vm.cellIsOpen = false">
                Today
              </button>
              <button
                class="btn btn-primary"
                mwl-date-modifier
                date="vm.viewDate"
                increment="vm.calendarView"
                ng-click="vm.cellIsOpen = false">
                Next
              </button>
            </div>
          </div>
          <!-- End View Select Button Group 1-->
          <!-- View Select Button Group 2-->
          <div class="col-md-2 calendar-buttons">
            <div class="btn-group">
              <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'week'" ng-click="vm.cellIsOpen = false">Week</label>
              <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'day'" ng-click="vm.cellIsOpen = false">Day</label>
            </div>
          </div>
          <!-- End View Select Button Group 2-->
          <!-- Calendar -->
          <div class="col-md-12 calendar">
              <mwl-calendar
                  events="vm.events"
                  view="vm.calendarView"
                  view-title="vm.calendarTitle"
                  view-date="vm.viewDate"
                  cell-is-open="vm.cellIsOpen"
                  day-view-start="08:00"
                  day-view-end="23:00"
                  day-view-split="60"
                  day-view-event-width="250"
                  cell-modifier="vm.modifyCell(calendarCell)"
                  cell-auto-open-disabled="true"
                  on-date-range-select="vm.newReservationCache.start = calendarRangeStartDate.getHours(); vm.newReservationCache.date = vm.dateToNumber(calendarRangeStartDate)">
                </mwl-calendar>
          </div>
          <!-- End Calendar -->
        </div>
        <!-- End Calendar View -->
    </div>
    <!-- End Main View -->
    <!-- Info View -->
    <div class="row home-page-bottom">
        <!-- User Reservation -->
        <div class="col-md-4 reservation">
          <h2>Reservation</h2>
          <div class="list-all-reservation">
            <div class="scrollable">
              <!-- TODO: Edit buttons for reservation modification -->
              <div ng-repeat="res in vm.myReservations">
                <p>{{ res.description }}</p>
                <p>{{res.room.roomId}} / {{ res.timeslot.date }} / {{ res.timeslot.startTime }} to {{ res.timeslot.endTime }}</p>
              </div>
            </div>
          </div>
        </div>
        <!-- End User Reservation -->
        <!-- Room Specification Display -->
        <div class="col-md-4 console">
            <h3 ng-if="!vm.newReservationCache.start" class="message">{{ vm.message }}</h3>
            <div ng-if="vm.newReservationCache.start" class="make-reservation">
              <h2>Create Reservation</h2>
              <h3>Room {{ vm.roomNumber }}</h3>
              <h3>{{ vm.newReservationCache.date }}</h3>
              <h3>Reserve <input type="text" ng-model="vm.newReservationCache.length"/> hours from {{ vm.newReservationCache.start }}:00 to {{ vm.newReservationCache.start + vm.newReservationCache.length }}:00</h3>
              <i class="fa fa-laptop" aria-hidden="true"></i>
              <input type="text" ng-model="vm.newReservationCache.equipments.laptop" />
              <i class="fa fa-video-camera" aria-hidden="true"></i>
              <input type="text" ng-model="vm.newReservationCache.equipments.projector" />
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              <input type="text" ng-model="vm.newReservationCache.equipments.board" />
              <button ng-click="vm.makeReservation()" class="btn-lg create-button">Confirm</button>
            </div>
        </div>
        <!-- End Room Specification Display -->
        <!-- User Wating List -->
        <div class="col-md-4 reservation">
          <h2>Waiting List</h2>
          <div class="list-all-reservation">
            <div class="scrollable">
              <!-- TODO: Edit buttons for reservation modification -->
              <div ng-repeat="res in vm.myWaitingList">
                <p>{{ res.description }}</p>
                <p>{{res.room.roomId}} / {{ res.timeslot.date }} / {{ res.timeslot.startTime }} to {{ res.timeslot.endTime }}</p>
              </div>
            </div>
          </div>
        </div>
        <!-- End User Wating List -->
    </div>
    <!-- End Info View -->
</div>
