<div class="container-fluid home-page" ng-if="vm.authenticated">
  <!-- Main view -->
  <div class="row home-page-upper">
    <!-- Toggle Room Select Menu -->
    <div class="room-list">
      <p ng-click="vm.toggleMenu()">
        {{ vm.toggleText }}
        <i class="fa fa-arrow-down" aria-hidden="true"></i>
      </p>
      <div class="room-list-number" ng-if="vm.isToggled">
        <button
        type="button"
        class="btn"
        ng-repeat="room in vm.roomList"
        ng-click="vm.changeRoom(room); vm.toggleMenu()"
        ng-class="{'selected-room': vm.roomNumber == room}">
          Room {{ room }}
        </button>
      </div>
    </div>
    <!-- End Toggle Room Select Menu -->
    <!-- Calendar View -->
    <div class="calendar-view">
      <!-- View Select Button Group 1-->
      <div class="col-md-5">
        <h2 style="padding: 5px;">
          Room {{ vm.roomNumber }} - {{ vm.calendarTitle }}
        </h2>
      </div>
      <div class="col-md-3 col-md-offset-2 calendar-buttons">
        <div class="btn-group">
          <button
            class="btn btn-primary"
            mwl-date-modifier
            date="vm.viewDate"
            decrement="vm.calendarView"
            ng-click="vm.cellIsOpen = false">
            Previous
          </button>
          <button
            class="btn btn-default"
            mwl-date-modifier
            date="vm.viewDate"
            set-to-today
            ng-click="vm.cellIsOpen = false">
            Today
          </button>
          <button
            class="btn btn-primary"
            mwl-date-modifier
            date="vm.viewDate"
            increment="vm.calendarView"
            ng-click="vm.cellIsOpen = false">
            Next
          </button>
        </div>
      </div>
      <!-- End View Select Button Group 1-->
      <!-- View Select Button Group 2-->
      <div class="col-md-2 calendar-buttons">
        <div class="btn-group">
          <label
            class="btn btn-primary"
            ng-model="vm.calendarView"
            uib-btn-radio="'week'"
            ng-click="vm.cellIsOpen = false"
          >
            Week
          </label>
          <label
            class="btn btn-primary"
            ng-model="vm.calendarView"
            uib-btn-radio="'day'"
            ng-click="vm.cellIsOpen = false"
          >
          Day
          </label>
        </div>
      </div>
      <!-- End View Select Button Group 2-->
      <!-- Calendar -->
      <div class="col-md-12 calendar">
        <mwl-calendar
          events="vm.events"
          view="vm.calendarView"
          view-title="vm.calendarTitle"
          view-date="vm.viewDate"
          cell-is-open="vm.cellIsOpen"
          day-view-start="00:00"
          day-view-end="24:00"
          day-view-split="60"
          day-view-event-width="250"
          cell-modifier="vm.modifyCell(calendarCell)"
          on-date-range-select="
            vm.resetCache();
            vm.cache.start = calendarRangeStartDate.getHours();
            vm.cache.date = vm.dateToNumber(calendarRangeStartDate);
            vm.cache.inAction = 'create'"
          cell-auto-open-disabled="true"
        >
        </mwl-calendar>
      </div>
      <!-- End Calendar -->
    </div>
    <!-- End Calendar View -->
  </div>
  <!-- End Main View -->
  <!-- Info View -->
  <div class="row home-page-bottom">
    <!-- User Reservation -->
    <div class="col-md-4 reservation">
      <h2>
        Reservation
      </h2>
      <div class="list-all-reservation">
        <div class="scrollable">
          <div ng-repeat="res in vm.myReservations">
            <p>
              {{ res.description }}
              <i
                class="fa fa-pencil"
                aria-hidden="true"
                ng-click="vm.setCache(res, 'modify')"
              >
              </i>
              <i
                class="fa fa-ban"
                aria-hidden="true"
                ng-click="vm.setCache(res, 'delete')"
              >
              </i>
            </p>
            <p>
              {{res.room.roomId}} / {{ res.timeslot.date }} / {{ res.timeslot.startTime }}:00 to {{ res.timeslot.endTime }}:00
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- End User Reservation -->
    <!-- Room Specification Display -->
    <div class="col-md-4 console">
      <h3 ng-if="!vm.cache.inAction" class="message">
        {{ vm.message }}
      </h3>
      <div ng-if="vm.cache.inAction" class="make-reservation">
        <h2>
          <span ng-if="vm.cache.inAction == 'create'">Create</span>
          <span ng-if="vm.cache.inAction == 'modify'">Modify</span>
          <span ng-if="vm.cache.inAction == 'delete'">Delete</span>
          Reservation
        </h2>
        <h4>Room {{ vm.roomNumber }} - <span ng-if="vm.cache.inAction != 'modify'">{{ vm.cache.date }}</span>
          <input type="tel" ng-model="vm.cache.date" ng-if="vm.cache.inAction == 'modify'" class="modify-date"/></h4>
        <h4>
          Reserve <input type="tel" ng-model="vm.cache.length" ng-disabled="vm.cache.inAction == 'delete'"/> hours from {{ vm.cache.start }}:00 to {{ vm.parseInt(vm.cache.start) + vm.parseInt(vm.cache.length) }}:00
        </h4>
        <h4 ng-if="vm.cache.inAction == 'create'">
          Repeat for <input type="tel" ng-model="vm.cache.repeat"/> Weeks
        </h4>
        <i class="fa fa-laptop" aria-hidden="true"></i>
        <input type="tel" ng-model="vm.cache.equipment.laptop" ng-disabled="vm.cache.inAction == 'delete'"/>
        <i class="fa fa-video-camera" aria-hidden="true"></i>
        <input type="tel" ng-model="vm.cache.equipment.projector" ng-disabled="vm.cache.inAction == 'delete'"/>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        <input type="tel" ng-model="vm.cache.equipment.board" ng-disabled="vm.cache.inAction == 'delete'"/>
        <div class="button-group">
          <button ng-click="vm.resetCache(); vm.cache.inAction = null" class="btn-lg cancel-button">
            Cancel
          </button>
          <button ng-if="vm.cache.inAction == 'create'" ng-click="vm.makeReservation()" class="btn-lg">
            Confirm
          </button>
          <button ng-if="vm.cache.inAction == 'modify'" ng-click="vm.modifyReservation()" class="btn-lg">
            Modify
          </button>
          <button ng-if="vm.cache.inAction == 'delete'" ng-click="vm.deleteReservation()" class="btn-lg">
            Delete
          </button>
        </div>
      </div>
    </div>
    <!-- End Room Specification Display -->
    <!-- User Waiting List -->
    <div class="col-md-4 reservation">
      <h2>
        Waiting List
      </h2>
      <div class="list-all-reservation">
        <div class="scrollable">
          <div ng-repeat="res in vm.myWaitingList">
            <p>
              {{ res.description }}
              <i
                class="fa fa-pencil"
                aria-hidden="true"
                ng-click="vm.setCache(res, 'modify')"
              >
              </i>
              <i
                class="fa fa-ban"
                aria-hidden="true"
                ng-click="vm.setCache(res, 'delete')"
              >
              </i>
            </p>
            <p>
              {{res.room.roomId}} / {{ res.timeslot.date }} / {{ res.timeslot.startTime }}:00 to {{ res.timeslot.endTime }}:00
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- End User Wating List -->
  </div>
  <!-- End Info View -->
</div>
