@import "../capRoomster.scss";

.home-page {
    position: relative;
    z-index: 992;
    padding-top: 50px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    height: 100%;
    .home-page-upper{
        height: 80%;
        max-height: 80%;
        overflow: scroll;
        .room-list {
            height: auto;
            width: 14%;
            background-color: rgba(255,248,220,0.5);
            z-index: 100;
            position: absolute;
            text-align: center;
            p {
                font-size: 18px;
                font-weight: bold;
                text-decoration: none;
                cursor: pointer;
                color: darkorange;
            }
            button {
                font-weight: bold;
                color: black;
                background-color: white;
                border-color: black;
                display: block;
                margin: auto;
                margin-top: 10px;
                margin-bottom: 10px;
                width: 65%;
            }
            button:hover, .selected-room {
                background-color: #1b1f23;
                color: white;
                border-color: white;
            }
        }
        .calendar-view {
            .calendar-buttons {
                text-align: center;
                margin-top: 25px;
                margin-bottom: 25px;
            }
            .calendar {
                margin: auto;
                height: 70%;
            }
        }
    }
    .home-page-bottom {
        height: 20%;
        background-color: #1b1f23;
        text-align: center;
        p {
            margin: 0px;
            font-size: 13px;
            font-weight: bold;
        }
        .reservation {
            color: #fff;
            height: 100%;
            border-right: solid 1px white;
        }
        .console {
            background-color: darkgray;
            height: 100%;
            border-right: solid 1px white;
            .equipments {
                font-size: 32px;
            }
        }
    }
}

