<!DOCTYPE html>
<!--SOEN 343 - Front end made with PHP & HTML/CSS & BOOTSTRAP & JQUERY & JAVASCRIPT-->
<!-- All the functions are made by me, Emir, none of the php or js built in functions are used!-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Room Reservation System</title>

    <link rel="stylesheet" href="../static/styles/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles/font-awesome.min.css">

    <link rel="stylesheet" href="../static/styles/Content.css">

    <!--[for IE9 support]-->
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <!--[endif]-->
  </head>
  <body>
    <!-- main page div -->
    <div class="container-fluid">

      <!-- heading div in h1, formatted in the css file -->
      <div class="page-header text-center">
        <h1>My Profile</h1>
      </div>
      <div id="textcolorcorrector" class="row-fluid">
        <div class="text-center"><h3>{{user}}</h3> </div>
        <br>
        <div class="text-center">My Reservations:</div>
        <br>

        <table class="demo" align="center">




          <thead>
          <tr>
              <th>Room</th>
              <th>Startime</th>
              <th>Endtime</th>
              <th>Date</th>
              <th>Description</th>
              <th>Modify</th>
              <th>Cancel</th>
          </tr>
          </thead>
          <tbody>
          <tr>
          {% set count = 1 %}
              {% for foo in reservation %}
                    {% if count == 2 %}
                        <td>{{ foo }}:00</td>
                    {% endif %}
                    {% if count != 3 and count != 6 and count != 2%}
                        <td>{{ foo }}</td>
                    {% endif %}
                    {% if count == 3 %}
                      <td>{{ foo }}: 00</td>
                    {% endif %}
                  {% if count == 6 %}
                      <td><div class="panel panel-default">
                          <div class="panel-body">
                              <div id="month" class="BottomPadder text-center"><a class="col-md-12" style="text-decoration:none;"><div class="modify">{{ foo }}</div></a>
                              </div>
                          </div>
                      </div>
                      </td>
                      <td><div class="panel panel-default">
                          <div class="panel-body">
                              <div id="month" class="BottomPadder text-center"><a class="col-md-12" style="text-decoration:none;"><div class="cancel">{{ foo }}</div></a></div>
                          </div>
                      </div>
                      </td>
                      </tr>
                      {% set count = 0 %}
                  {% endif %}
                  {% set count = count + 1 %}
              {% endfor %}
          <tbody>
        </table>
      </div>
      <br>
      <br>
      <!-- table type for the button formatted in css file -->
    <table class="demo" align="center">

        <br>
        <div class="text-center"><font color="#ffffff">Waitlist:</font></div>
        <br>
        <thead>
          <tr>
              <th><font color="#ffffff">Room</font></th>
              <th><font color="#ffffff">Startime</font></th>
              <th><font color="#ffffff">Endtime</font></th>
              <th><font color="#ffffff">Date</font></th>
              <th><font color="#ffffff">Description</font></th>
              <th><font color="#ffffff">Cancel</font></th>
          </tr>
          </thead>
          <tbody>
          <tr>
          {% set count = 1 %}
              {% for foo in waitings %}
                    {% if count == 2 %}
                        <td><font color="#ffffff">{{ foo }}:00</font></td>
                    {% endif %}
                    {% if count != 3 and count != 6 and count != 2%}
                        <td><font color="#ffffff">{{ foo }}</font></td>
                    {% endif %}
                    {% if count == 3 %}
                      <td><font color="#ffffff">{{ foo }}: 00</font></td>
                    {% endif %}
                  {% if count == 6 %}
                      <td><div class="panel panel-default">
                          <div class="panel-body">
                              <div id="month" class="BottomPadder text-center"><a class="col-md-12" style="text-decoration:none;"><div class="waiting">{{ foo }}</div></a></div>
                          </div>
                      </div>
                      </td>
                      </tr>
                      {% set count = 0 %}
                  {% endif %}
                  {% set count = count + 1 %}
              {% endfor %}
          <tbody>
        </table>
      </div>
      <br>
      <br>
      <!-- table type for the button formatted in css file -->
      <div class="col-md-offset-5 col-md-2">
        <div class="row-fluid">
          <div class="panel panel-default">
            <div class="panel-body">
              <div id="month" class="BottomPadder text-center">
                <a class="col-md-12" style="text-decoration:none;" href="{{ url_for('month')}}"><div>Make A New Reservation</div></a>
              </div>
            </div>
          </div>
            <br>
              <div class="text-center"> <a href="/logout"><b>Logout</b></a></div>
        </div>
      </div>
    </div>

    <!-- For Fast Loading Of Scripts -->
    <script src="../static/javascript/jquery.min.js"></script>
    <script src="../static/javascript/bootstrap.min.js"></script>
    <!-- Javascript function for the effect and the clicking -->
    <script type="text/javascript">
        var clicking = false;
        $(function(){
            $("#rider .Greenies").mouseenter(function(){
                if(!$(this).hasClass("clicked"))
                {
                    $(this).css("background", "#93DC69");
                    $(this).css("color", "white");
                    $(this).css("cursor", "pointer");
                }
            });
            $("#rider .Greenies").mouseleave(function(){
                if(!$(this).hasClass("clicked"))
                {
                    $(this).css("background", "#FFFFFF");
                    $(this).css("color", "#333333");
                }
            });
        });
        $("#rider .Greenies p").click(function(){
            if(!$(this).parent().hasClass("clicked"))
            {
                $(this).parent().addClass("clicked");
                $(this).parent().css("background", "#93DC69");
            }
            else
            {
                $(this).parent().removeClass("clicked");
                $(this).parent().css("background", "#FFFFFF");
            }
        });
        $("span").click(function() {
            if(!$(this).parent().hasClass("clicked"))
            {
                $(this).parent().addClass("clicked");
                $(this).parent().css("background", "#FF4242");
            }
            else
            {
                $(this).parent().removeClass("clicked");
                $(this).parent().css("background", "#FFFFFF");
            }
        });
        $(function(){
            $("#month .clickable").mouseenter(function(){
                $(this).css("background", "#93DC69");
                $(this).css("color", "white");
                $(this).css("cursor", "pointer");
            });
            $("#month .clickable").mouseleave(function(){
                $(this).css("background", "#FFFFFF");
                $(this).css("color", "#333333");
            });
        });

        $('div.number').click(function() {
            var number = parseInt($('.number').text());
        });
        var s, m, i;
        var interval
        $("#month .clickable").on("click", function(){
            $("span").parent().css("background", "#FFFFFF");
            $("p").parent().css("background", "#FFFFFF");
            clearInterval(interval);
            s = 60;
            m = 1;
            $(".defaultCountdown").html("02 : 00");
            interval = setInterval(function(){
                if(s == 0)
                {
                    m--;
                    s= 59;
                }
                else
                {
                    s--;
                }
                if(m == -1)
                {
                    clearInterval(interval);
                }
                if(s < 10 && m != -1)
                {
                    $(".defaultCountdown").html("0" + m + " : 0" + s);
                }
                else if(m != -1)
                {
                    $(".defaultCountdown").html("0" + m + " : " + s);
                }
                if(m == 0 && s == 0 && $(".modal").hasClass("in"))
                {
                    $(".defaultCountdown").html("00 : 00");
                    alert("You Ran Out Of Time!");
                    $(".close").trigger('click');
                }
            }, 1000);
        });
        $(function(){
            $("#relax").mouseenter(function(){
                $(this).css("background", "#FFFFFF");
                $(this).css("color", "#333333");
            });
            $('sub').click(function(){
                location.reload();
            });
            $("#relax").mouseleave(function(){
                $(this).css("background", "#FFFFFF");
                $(this).css("color", "#333333");
            });
        });

        $(document).ready(function() {
            $("#month .col-md-2").css("border", "1px solid #ddd");
            $("#month .col-md-2").css("background", "#FFFFFF");

        });
      $(function(){
        $("#month .col-md-12").mouseenter(function(){
          $(this).css("background", "#93DC69");
          $(this).css("color", "white");
          $(this).css("cursor", "pointer");
        });
        $("#month .col-md-12").mouseleave(function(){
          $(this).css("background", "#FFFFFF");
          $(this).css("color", "#333333");
        });
        $("#month .cancel").click(function() {
             reservationId= $(this).html();

                window.location.href = "/cancel/" + reservationId;
        });
         $("#month .modify").click(function() {
            reservationId= $(this).html();
             window.location.href = "/modify/" + reservationId;

        });
          $("#month .waiting").click(function(){

             waitingId = $(this).html();
              window.location.href = "/cancelWaiting/" + waitingId;
          });
      });
    </script>
    <!--[endif]-->
  </body>
</html>
