<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Select the month | Room Reservation System</title>

    <link rel="stylesheet" href="../static/styles/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles/font-awesome.min.css">
    <link rel="stylesheet" href="../static/styles/Content.css">

    <!--[if lt IE 9]-->
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <!--[endif]-->
  </head>
  <body>
    <!-- Main Page Content -->
    <div class="container-fluid">

      <!-- Page Heading -->
      <div class="page-header text-center">
        <h1>Month Selection</h1>
          <h1><font color="red">{{ currentmonth }}</font></h1>
      </div>
      <div class="row-fluid">
        <div class="panel panel-default">
          <div id="linksending" class="panel-body">
            <div style="border-right: 1px solid #ddd;" class="col-md-6 text-center">
              <a href="{{ url_for('dashboard',user=session['user']) }}">My Profile</a>
            </div>
            <div class="col-md-6 text-center">
              <a href="/logout">Logout</a>
            </div>
          </div>
        </div>
      </div>
      <br>

      <!-- Table Type View -->
     <!-- Table Type View -->
      <div class="row-fluid">
        <div class="panel panel-default">
          <div class="panel-body">
            <div id="month" class="row-fluid BottomPadder text-center">
              <div class="col-md-2 divider">January</div>
              <div class="col-md-2 divider">February</div>
              <div class="col-md-2 divider">March</div>
              <div class="col-md-2 divider">April</div>
              <div class="col-md-2 divider">May</div>
              <div class="col-md-2">June</div>
            </div>
            <div id="month" class="row-fluid">
              <div class="col-md-12 text-center">Please Select the Month!</div>
            </div>
            <div id="month" class="row-fluid TopPadder text-center">
              <div class="col-md-2 divider">July</div>
              <div class="col-md-2 divider">August</div>
              <div class="col-md-2 divider">September</div>
              <div class="col-md-2 divider">October</div>
              <div class="col-md-2 divider">November</div>
              <div class="col-md-2">December</div>
            </div>
          </div>
        </div>
      </div>

    <!-- For Fast Loading Of Scripts -->
    <script src="../static/javascript/jquery.min.js"></script>
    <script src="../static/javascrit/bootstrap.min.js"></script>
    <script type="text/javascript">
       $(function(){
        $("#month .col-md-2").mouseenter(function(){
          $(this).css("background", "#93DC69");
          $(this).css("color", "white");
          $(this).css("cursor", "pointer");
        });
        $("#month .col-md-2").mouseleave(function(){
          $(this).css("background", "#FFFFFF");
          $(this).css("color", "#333333");
        });
          $("#month .col-md-2").click(function(){
        if($(this).html() == "January")
        {
          window.location.href = "/january";
        }
        if($(this).html() == "February")
        {
          window.location.href = "/february";
        }
        if($(this).html() == "March")
        {
          window.location.href = "/march";
        }
        if($(this).html() == "April")
        {
          window.location.href = "/april";
        }
        if($(this).html() == "May")
        {
          window.location.href = "/may";
        }
        if($(this).html() == "June")
        {
          window.location.href = "/june";
        }
        if($(this).html() == "July")
        {
          window.location.href = "/july";
        }
        if($(this).html() == "August")
        {
          window.location.href = "/august";
        }
        if($(this).html() == "September")
        {
          window.location.href = "/september";
        }
        if($(this).html() == "October")
        {
          window.location.href = "/october";
        }
        if($(this).html() == "November")
        {
          window.location.href = "/november";
        }
        if($(this).html() == "December")
        {
          window.location.href = "/december";
        }
      });
      });
    </script>
    </div>
  </body>
</html>
